flows/Account_Update_WBN_SE_Last_Activity_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Account_ID</name>
        <label>Assign Account ID</label>
        <locationX>19</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WBN_Last_Activity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_or_Opportunity</name>
        <label>Account or Opportunity</label>
        <locationX>136</locationX>
        <locationY>10</locationY>
        <defaultConnector>
            <targetReference>Add_to_Debug_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpportunityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_ID</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpportunityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_IL_Opps_Only</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opportunity</name>
        <label>Found Opportunity</label>
        <locationX>402</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Add_to_Debug_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_AccountId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated for Account and Opportunity</description>
    <interviewLabel>Account Update WBN SE Last Activity v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Update WBN SE Last Activity v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_to_Debug_Log</name>
        <label>Add to Debug Log</label>
        <locationX>184</locationX>
        <locationY>285</locationY>
        <inputAssignments>
            <field>DebugData__c</field>
            <value>
                <stringValue>Error - No Record Found</stringValue>
            </value>
        </inputAssignments>
        <object>DebugInfo__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_AccountId</name>
        <label>Find AccountId</label>
        <locationX>400</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WBN_Last_Activity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_IL_Opps_Only</name>
        <label>Get Opportunity - IL Opps Only</label>
        <locationX>398</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012600000009YRTAA2</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WBN_Last_Activity</name>
        <label>Update WBN Last Activity</label>
        <locationX>149</locationX>
        <locationY>507</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WBN_SE_Last_Activity__c</field>
            <value>
                <elementReference>vActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Account_or_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
