flows/Acct_YBN_Upsert_Entitlement_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Entitlement_Values</name>
        <label>Assign Entitlement Values</label>
        <locationX>503</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>objEntitlement.SlaProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSlaProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Entitlement_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBusHourId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01m320000008RJb</stringValue>
        </value>
    </constants>
    <constants>
        <name>conEndDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2099-12-31</dateValue>
        </value>
    </constants>
    <constants>
        <name>conYbnStd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YBNStd</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Service_Level</name>
        <label>Check Account Service Level</label>
        <locationX>228</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Get_SlaProcess_T3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SL Tier 3</defaultConnectorLabel>
        <rules>
            <name>SL_Tier_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccParentName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aire Serv Heating &amp; Air Conditioning Master</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccParentName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr. Appliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccParentName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr. Electric</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccParentName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glass Doctor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccParentName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Miracle-Ear</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SlaProcess_T1</targetReference>
            </connector>
            <label>SL Tier 1</label>
        </rules>
        <rules>
            <name>SL_Tier_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varServiceLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Level A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varServiceLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Level B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SlaProcess_T2</targetReference>
            </connector>
            <label>SL Tier 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_SlaProcess</name>
        <label>Found SlaProcess</label>
        <locationX>228</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_SlaProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSlaProcess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement_Record</targetReference>
            </connector>
            <label>Has SlaProcess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Std_Entitlement</name>
        <label>Found Std Entitlement</label>
        <locationX>231</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Entitlement_Needs_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEntitlement.SlaProcessId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objSlaProcess.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entitlement_Values</targetReference>
            </connector>
            <label>Entitlement Needs Update</label>
        </rules>
        <rules>
            <name>No_Entitlement_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Entitlement_Record</targetReference>
            </connector>
            <label>No Entitlement Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>formEntitlementName</name>
        <dataType>String</dataType>
        <expression>&quot;YBNStd - &quot; + {!varAccName}</expression>
    </formulas>
    <interviewLabel>Acct - YBN - Upsert Entitlement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acct - YBN - Upsert Entitlement Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Entitlement_Record</name>
        <label>New Entitlement Record</label>
        <locationX>233</locationX>
        <locationY>632</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>conEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formEntitlementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>objSlaProcess.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Entitlement_Record</name>
        <label>Get Entitlement Record</label>
        <locationX>228</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Std_Entitlement</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>conYbnStd</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>objEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SlaProcessId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SlaProcess_T1</name>
        <label>Get SlaProcess - T1</label>
        <locationX>65</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_SlaProcess</targetReference>
        </connector>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YBN Tier 1</stringValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputReference>objSlaProcess</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SlaProcess_T2</name>
        <label>Get SlaProcess - T2</label>
        <locationX>228</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_SlaProcess</targetReference>
        </connector>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YBN Tier 2</stringValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputReference>objSlaProcess</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SlaProcess_T3</name>
        <label>Get SlaProcess - T3</label>
        <locationX>384</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_SlaProcess</targetReference>
        </connector>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YBN Tier 3</stringValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputReference>objSlaProcess</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Entitlement_Record</name>
        <label>Update Entitlement Record</label>
        <locationX>503</locationX>
        <locationY>622</locationY>
        <inputReference>objEntitlement</inputReference>
    </recordUpdates>
    <startElementReference>Check_Account_Service_Level</startElementReference>
    <variables>
        <name>objEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>objSlaProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SlaProcess</objectType>
    </variables>
    <variables>
        <name>varAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
