flows/Acct_Upsert_Custom_Entitlement_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>conBusHourId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01m320000008RJb</stringValue>
        </value>
    </constants>
    <constants>
        <name>conEndDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2099-12-31</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Custom_Entitlement</name>
        <label>Has Custom Entitlement</label>
        <locationX>61</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Custom_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Entitlement_Record</targetReference>
            </connector>
            <label>No Custom Entitlement</label>
        </rules>
    </decisions>
    <formulas>
        <name>formEntitlementName</name>
        <dataType>String</dataType>
        <expression>&quot;YBNCus - &quot; + {!varAccName}</expression>
    </formulas>
    <interviewLabel>Acct - Upsert Custom Entitlement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acct - Upsert Custom Entitlement Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entitlement_Record</name>
        <label>Create Entitlement Record</label>
        <locationX>61</locationX>
        <locationY>456</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>conEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formEntitlementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>objSla.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Entitlement</name>
        <label>Get Custom Entitlement</label>
        <locationX>60</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Custom_Entitlement</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSla.Id</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>objEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA</name>
        <label>Get SLA</label>
        <locationX>60</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Entitlement</targetReference>
        </connector>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YBN Custom SLA</stringValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputReference>objSla</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_SLA</startElementReference>
    <variables>
        <name>objBusHour</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>objEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>objSla</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SlaProcess</objectType>
    </variables>
    <variables>
        <name>varAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
