flows/Cancel_Form_Temp_IMS_Rep_Update-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>CancelOutcome</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{!$GlobalConstant.In Progress}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cancel_Request_Status</name>
        <label>Cancel Request Status</label>
        <locationX>376</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Outcome_is_In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Time Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_from_Cancel_Form</targetReference>
            </connector>
            <label>Outcome is In Progress</label>
        </rules>
        <rules>
            <name>Outcome_is_not_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelRequestSObject.Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress, Free Time Period, New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_when_Form_is_not_In_Progress</targetReference>
            </connector>
            <label>Outcome is not In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_from_Cancel_Form</name>
        <label>Update Account from Cancel Form</label>
        <locationX>659</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_the_account_with_Cancel_Form_and_Temp_IMS_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Current_Active_Cancel_Form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Temp_TMS_Rep_ID</targetReference>
            </connector>
            <label>Update the account with Cancel Form and Temp IMS Rep</label>
        </rules>
        <rules>
            <name>Assign_Current_Active_Cancel_Form_when_a_Collection_Case_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Current_Active_Cancel_Form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Temp_TMS_Rep_ID</targetReference>
            </connector>
            <label>Assign Current Active Cancel Form when a Collection Case is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_when_Form_is_not_In_Progress</name>
        <label>Update Account when Form is not In Progress</label>
        <locationX>152</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cancel_not_in_progress_and_temp_ims_field_blanks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_cancel_form</targetReference>
            </connector>
            <label>Cancel not in progress and temp ims field blanks</label>
        </rules>
        <rules>
            <name>cancel_not_in_progress_but_temp_ims_field_does_not_match_cancel_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserID.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Temp_TMS_Rep_ID_0</targetReference>
            </connector>
            <label>cancel not in progress but temp ims field does not match cancel owner</label>
        </rules>
        <rules>
            <name>cancel_form_not_in_progress_and_cancel_form_owner_is_temp_IMS_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserID.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Temp_TMS_Rep_ID_0_0</targetReference>
            </connector>
            <label>cancel form not in progress and cancel form owner is temp IMS Rep</label>
        </rules>
    </decisions>
    <description>This adds and removes the Temp IMS Rep and Current Active Cancel Form from the account based on how the cancel is working.</description>
    <interviewLabel>Remove Temp IMS Rep from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Temp IMS Rep and Current Active Cancel Form Fields</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Lookup_Fast</name>
        <label>Account Lookup Fast</label>
        <locationX>430</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Request_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accoId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Active_Cancel_Form__c</queriedFields>
        <queriedFields>Temp_IMS_Rep__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Cancel_Request_Form</name>
        <label>Cancel Request Form</label>
        <locationX>118</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancelReqID</elementReference>
            </value>
        </filters>
        <object>Cancellation_Request__c</object>
        <outputAssignments>
            <assignToReference>accoId</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CancelReqID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Outcome</assignToReference>
            <field>Outcome__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TempIMSRep</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Owner</name>
        <label>Lookup Owner</label>
        <locationX>306</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Lookup_Fast</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TempIMSRep</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Temp_TMS_Rep_ID</name>
        <label>Remove Temp TMS Rep ID</label>
        <locationX>921</locationX>
        <locationY>194</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <elementReference>CancelReqID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Temp_TMS_Rep_ID_0</name>
        <label>Remove Temp TMS Rep ID</label>
        <locationX>740</locationX>
        <locationY>525</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Temp_TMS_Rep_ID_0_0</name>
        <label>Remove Temp TMS Rep ID</label>
        <locationX>422</locationX>
        <locationY>626</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Temp_TMS_Rep_ID</name>
        <label>Set Temp TMS Rep ID</label>
        <locationX>877</locationX>
        <locationY>100</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <elementReference>CancelReqID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <elementReference>TempIMSRep</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_cancel_form</name>
        <label>update cancel form</label>
        <locationX>606</locationX>
        <locationY>403</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancelRequestSObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Cancellation_Request__c</object>
    </recordUpdates>
    <startElementReference>Cancel_Request_Form</startElementReference>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is Account Id</description>
        <name>accoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CancelReqID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CancelRequestSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cancellation_Request__c</objectType>
    </variables>
    <variables>
        <name>Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempIMSRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
