flows/Cancel_Form_Temp_IMS_Rep_Update-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>CancelOutcome</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{!$GlobalConstant.In Progress}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Update_Account_from_Cancel_Form</name>
        <label>Update Account from Cancel Form</label>
        <locationX>375</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_the_account_with_Cancel_Form_and_Temp_IMS_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Current_Active_Cancel_Form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Temp_TMS_Rep_ID</targetReference>
            </connector>
            <label>Update the account with Cancel Form and Temp IMS Rep</label>
        </rules>
        <rules>
            <name>Assign_Current_Active_Cancel_Form_when_a_Collection_Case_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID.Current_Active_Cancel_Form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID.Temp_IMS_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Temp_TMS_Rep_ID</targetReference>
            </connector>
            <label>Assign Current Active Cancel Form when a Collection Case is Active</label>
        </rules>
    </decisions>
    <description>To update Temp IMS field from active cancel forms.</description>
    <interviewLabel>Cancel Form Temp IMS Rep Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Form Temp IMS Rep Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Lookup_Fast</name>
        <label>Account Lookup Fast</label>
        <locationX>376</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_from_Cancel_Form</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Active_Cancel_Form__c</queriedFields>
        <queriedFields>Temp_IMS_Rep__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Cancel_Request_Form</name>
        <label>Cancel Request Form</label>
        <locationX>183</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Lookup_Fast</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancelReqID</elementReference>
            </value>
        </filters>
        <object>Cancellation_Request__c</object>
        <outputAssignments>
            <assignToReference>AccountID.Id</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Outcome</assignToReference>
            <field>Outcome__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TempIMSRep</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Temp_TMS_Rep_ID</name>
        <label>Remove Temp TMS Rep ID</label>
        <locationX>811</locationX>
        <locationY>389</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <elementReference>CancelReqID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Temp_TMS_Rep_ID</name>
        <label>Set Temp TMS Rep ID</label>
        <locationX>731</locationX>
        <locationY>149</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <elementReference>CancelReqID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <elementReference>TempIMSRep</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Cancel_Request_Form</startElementReference>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CancelReqID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempIMSRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
