flows/Case_Create_Case_Sub_Status_History_Flow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_End_DateTime</name>
        <label>Update End DateTime</label>
        <locationX>435</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>objHistory.EndDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Case_Status_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Case_Status_History</name>
        <label>Existing Case Status History</label>
        <locationX>86</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Existing_CSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_DateTime</targetReference>
            </connector>
            <label>Has Existing Case Sub Status History</label>
        </rules>
    </decisions>
    <interviewLabel>Object History - Create TORCHx Case Sub Status History Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Object History - Create TORCHx Case Sub Status History Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Status_History</name>
        <label>Create Case Status History</label>
        <locationX>90</locationX>
        <locationY>361</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>CaseObject.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldValue__c</field>
            <value>
                <elementReference>CaseObject.Sub_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Status__c</field>
            <value>
                <elementReference>CaseObject.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ObjectHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>88</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Status_History</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sub_Status__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Case_Status_History</name>
        <label>Get Last Case Sub Status History</label>
        <locationX>85</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Case_Status_History</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>ObjectHistory__c</object>
        <outputReference>objHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDateTime__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Case_Status_History</name>
        <label>Update Last Case Status History</label>
        <locationX>437</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputReference>objHistory</inputReference>
    </recordUpdates>
    <startElementReference>Get_Last_Case_Status_History</startElementReference>
    <variables>
        <name>CaseObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectHistory__c</objectType>
    </variables>
    <variables>
        <name>objQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
