flows/CaseFlo_Send_Issue_Survey-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_To_Spoke_To_Email</name>
        <label>Send To Spoke To Email</label>
        <locationX>424</locationX>
        <locationY>702</locationY>
        <actionName>Case.YBN_Send_Issue_Resolution_Survey_To_Spoke_To</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_Object_To_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Web_Email</name>
        <label>Send Web Email</label>
        <locationX>108</locationX>
        <locationY>693</locationY>
        <actionName>Case.YBN_Send_Issue_Resolution_Survey_To_Web_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_Object_To_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>415</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ObjectToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>110</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>objCase.Issue_Resolved_Survey_Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>106</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>ObjectToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Survey_Sent_Date</name>
        <label>Set Account Survey Sent Date</label>
        <locationX>419</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>objAccount.Issue_Survey_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Survey_Sent_Date</name>
        <label>Set Contact Survey Sent Date</label>
        <locationX>111</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>objContact.Issue_Survey_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>strAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>strContact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Available_Relationship</name>
        <label>Available Relationship</label>
        <locationX>102</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>106</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Spoke_To_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Spoke_To_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_To_Spoke_To_Email</targetReference>
            </connector>
            <label>Has Spoke To Email</label>
        </rules>
        <rules>
            <name>Has_Supplied_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Web_Email</targetReference>
            </connector>
            <label>Has Supplied Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Survey_Sent</name>
        <label>Check Last Survey Sent</label>
        <locationX>106</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Can_Send_Survey</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>objContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objContact.Issue_Survey_Sent__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DaysBeforeSending</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objContact.Issue_Survey_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>Contact Can Send Survey</label>
        </rules>
        <rules>
            <name>Account_Can_Send_Survey</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>objAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAccount.Issue_Survey_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAccount.Issue_Survey_Sent__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DaysBeforeSending</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account</targetReference>
            </connector>
            <label>Account Can Send Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object_To_Update</name>
        <label>Which Object To Update</label>
        <locationX>111</locationX>
        <locationY>802</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Object_To_Update_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>strContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Survey_Sent_Date</targetReference>
            </connector>
            <label>Object To Update - Contact</label>
        </rules>
        <rules>
            <name>Object_To_Update_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>strAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Survey_Sent_Date</targetReference>
            </connector>
            <label>Object To Update - Account</label>
        </rules>
    </decisions>
    <formulas>
        <name>DaysBeforeSending</name>
        <dataType>Date</dataType>
        <expression>IF(CONTAINS({!varAccName}, &quot;Senior Helpers&quot;), TODAY()-14, TODAY()-7)</expression>
    </formulas>
    <interviewLabel>CaseFlo - Send Issue Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseFlo - Send Issue Survey</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>104</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_Survey_Sent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Issue_Survey_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>101</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Relationship</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Issue_Resolved_Survey_Send_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>Spoke_To_Email__c</queriedFields>
        <queriedFields>Issue_Resolved_Survey_Send_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>330</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_Survey_Sent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Issue_Survey_Sent__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>419</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <inputReference>objAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>109</locationX>
        <locationY>1192</locationY>
        <inputReference>objCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>111</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <inputReference>objContact</inputReference>
    </recordUpdates>
    <startElementReference>Get_Case</startElementReference>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ObjectToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
