flows/Case_Create_Case_Status_History_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_isQueue_To_True</name>
        <label>Set isQueue To True</label>
        <locationX>252</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>isQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Status_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_End_DateTime</name>
        <label>Update End DateTime</label>
        <locationX>343</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>objLastCSH.EndDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Case_Status_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Owner_Type</name>
        <label>Determine Owner Type</label>
        <locationX>89</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Name</targetReference>
            </connector>
            <label>User Owner</label>
        </rules>
        <rules>
            <name>Queue_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name</targetReference>
            </connector>
            <label>Queue Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Case_Status_History</name>
        <label>Existing Case Status History</label>
        <locationX>86</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Determine_Owner_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Existing_CSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objLastCSH</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_DateTime</targetReference>
            </connector>
            <label>Has Existing CSH</label>
        </rules>
    </decisions>
    <interviewLabel>Case - Create Case Status History Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Case Status History Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Status_History</name>
        <label>Create Case Status History</label>
        <locationX>91</locationX>
        <locationY>470</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerName__c</field>
            <value>
                <elementReference>varOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerProfile__c</field>
            <value>
                <elementReference>varProfileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerRole__c</field>
            <value>
                <elementReference>varRoleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isClosed__c</field>
            <value>
                <elementReference>isClosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isQueue__c</field>
            <value>
                <elementReference>isQueue</elementReference>
            </value>
        </inputAssignments>
        <object>CaseStatusHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Case_Status_History</name>
        <label>Get Last Case Status History</label>
        <locationX>86</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Case_Status_History</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>CaseStatusHistory__c</object>
        <outputReference>objLastCSH</outputReference>
        <queriedFields>EndDateTime__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>252</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_isQueue_To_True</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>90</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Status_History</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varOwnerName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProfileName</assignToReference>
            <field>Profile_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRoleName</assignToReference>
            <field>Role_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Case_Status_History</name>
        <label>Update Last Case Status History</label>
        <locationX>345</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Determine_Owner_Type</targetReference>
        </connector>
        <inputReference>objLastCSH</inputReference>
    </recordUpdates>
    <startElementReference>Get_Last_Case_Status_History</startElementReference>
    <variables>
        <name>isClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objLastCSH</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseStatusHistory__c</objectType>
    </variables>
    <variables>
        <name>objQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
