flows/Case_Add_Entitlement_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>conBusHourId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01m32000000PScn</stringValue>
        </value>
    </constants>
    <constants>
        <name>conYbnCus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YBNCus</stringValue>
        </value>
    </constants>
    <constants>
        <name>conYbnStd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YBNStd</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Lookup_Entitlement</name>
        <label>Lookup Entitlement</label>
        <locationX>187</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Found Entitlement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_vs_Custom</name>
        <label>Standard vs Custom</label>
        <locationX>176</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Get_Std_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard SLA</defaultConnectorLabel>
        <rules>
            <name>Custom_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkItemSLA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Entitlement</targetReference>
            </connector>
            <label>Custom SLA</label>
        </rules>
    </decisions>
    <interviewLabel>Case - Add Entitlement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Add Entitlement Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Entitlement</name>
        <label>Get Custom Entitlement</label>
        <locationX>73</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Entitlement</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>conYbnCus</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>objEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Std_Entitlement</name>
        <label>Get Std Entitlement</label>
        <locationX>283</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Entitlement</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBusHourId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>conYbnStd</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>objEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>187</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>objEntitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Standard_vs_Custom</startElementReference>
    <variables>
        <name>objBusHour</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>objEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>varAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkItemSLA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
