flows/CaseFlo_Send_Issue_Survey-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_To_Spoke_To_Email</name>
        <label>Send To Spoke To Email</label>
        <locationX>112</locationX>
        <locationY>886</locationY>
        <actionName>Case.YBN_Send_Issue_Resolution_Survey_To_Spoke_To</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Sent_Date_On_EmailSub</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Web_Email</name>
        <label>Send Web Email</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <actionName>Case.YBN_Send_Issue_Resolution_Survey_To_Web_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Sent_Date_On_EmailSub</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>115</locationX>
        <locationY>1294</locationY>
        <assignmentItems>
            <assignToReference>objCase.Issue_Resolved_Survey_Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.FlowDebug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IssueSurvey - Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Issue_Survey_Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Account_is_Multi_Location</name>
        <label>Debug: Account is Multi-Location</label>
        <locationX>680</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>objCase.FlowDebug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IssueSurvey - Account is multi-location</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Already_Sent</name>
        <label>Debug: Already Sent</label>
        <locationX>970</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>objCase.FlowDebug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue Survey - Survey Already Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Email_Sub_Error</name>
        <label>Debug: Email Sub Error</label>
        <locationX>850</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>objCase.FlowDebug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue Survey - Email Sub Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_No_Email_Found</name>
        <label>Debug: No Email Found</label>
        <locationX>780</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>objCase.FlowDebug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IssueSurvey - No Email Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Unsubscribed</name>
        <label>Debug: Unsubscribed</label>
        <locationX>878</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>objCase.FlowDebug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue Survey - Unsubscribed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_On_Email_Sub</name>
        <label>Set Email On Email Sub</label>
        <locationX>459</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>objEmailSub.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insert</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objEmailSub.Sent_Date_Issue_Resolution_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveySendDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objEmailSub.Unsubscribe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Unsubscribed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_To_Spoke_To_Email</name>
        <label>Set Email To Spoke To Email</label>
        <locationX>102</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase.Spoke_To_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailToUse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>strSpokeToEmail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_To_SuppliedEmail</name>
        <label>Set Email To SuppliedEmail</label>
        <locationX>339</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailToUse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>strSuppliedEmail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sent_Date_On_EmailSub</name>
        <label>Set Sent Date On EmailSub</label>
        <locationX>112</locationX>
        <locationY>985</locationY>
        <assignmentItems>
            <assignToReference>objEmailSub.Sent_Date_Issue_Resolution_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Insert_Or_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Unsubscribed</name>
        <label>Check If Unsubscribed</label>
        <locationX>110</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>Check_Sent_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Unsubscribed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEmailSub.Unsubscribe__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Issue Resolution Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Unsubscribed</targetReference>
            </connector>
            <label>Has Unsubscribed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Account_Multi_Location</name>
        <label>Check Parent Account Multi-Location</label>
        <locationX>314</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>Debug_Account_is_Multi_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Multi_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMultiLocAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Email_To_Use</targetReference>
            </connector>
            <label>Not Multi-Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sent_Date</name>
        <label>Check Sent Date</label>
        <locationX>111</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Debug_Already_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_SpokeToEmail</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>objEmailSub.Sent_Date_Issue_Resolution_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEmailSub.Sent_Date_Issue_Resolution_Survey__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SurveySendDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailToUse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>strSpokeToEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_To_Spoke_To_Email</targetReference>
            </connector>
            <label>Send SpokeToEmail</label>
        </rules>
        <rules>
            <name>Send_SuppliedEmail</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>objEmailSub.Sent_Date_Issue_Resolution_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEmailSub.Sent_Date_Issue_Resolution_Survey__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SurveySendDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailToUse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>strSuppliedEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Web_Email</targetReference>
            </connector>
            <label>Send SuppliedEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Email_To_Use</name>
        <label>Decide Email To Use</label>
        <locationX>102</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Debug_No_Email_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Spoke_To_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Spoke_To_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_To_Spoke_To_Email</targetReference>
            </connector>
            <label>Has Spoke To Email</label>
        </rules>
        <rules>
            <name>Has_Supplied_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_To_SuppliedEmail</targetReference>
            </connector>
            <label>Has Supplied Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Case</name>
        <label>Found Case</label>
        <locationX>102</locationX>
        <locationY>155</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Parent</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Email_Subscription</name>
        <label>Found Email Subscription</label>
        <locationX>459</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Debug_Email_Sub_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Email_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEmailSub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Unsubscribed</targetReference>
            </connector>
            <label>Has Email Subscription</label>
        </rules>
        <rules>
            <name>No_Email_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEmailSub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_On_Email_Sub</targetReference>
            </connector>
            <label>No Email Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Insert_Or_Update</name>
        <label>Needs Insert Or Update</label>
        <locationX>112</locationX>
        <locationY>1080</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Needs_To_Be_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Sub</targetReference>
            </connector>
            <label>Needs To Be Inserted</label>
        </rules>
        <rules>
            <name>Needs_To_Be_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Sub</targetReference>
            </connector>
            <label>Needs To Be Updated</label>
        </rules>
    </decisions>
    <formulas>
        <name>SurveySendDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()-7</expression>
    </formulas>
    <interviewLabel>CaseFlo - Send Issue Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseFlo - Send Issue Survey</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Sub</name>
        <label>Create Email Sub</label>
        <locationX>401</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <inputReference>objEmailSub</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Parent</name>
        <label>Get Account Parent</label>
        <locationX>314</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Account_Multi_Location</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>National_Company_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multi-Location</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012600000009Yy6</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>isMultiLocAcc</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>101</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Issue_Resolved_Survey_Send_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>Spoke_To_Email__c</queriedFields>
        <queriedFields>Issue_Resolved_Survey_Send_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Subscription</name>
        <label>Get Email Subscription</label>
        <locationX>103</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email_Subscription</targetReference>
        </connector>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <object>EmailSubscription__c</object>
        <outputReference>objEmailSub</outputReference>
        <queriedFields>Sent_Date_Issue_Resolution_Survey__c</queriedFields>
        <queriedFields>Unsubscribe__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>679</locationX>
        <locationY>1290</locationY>
        <inputReference>objCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Sub</name>
        <label>Update Email Sub</label>
        <locationX>115</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <inputReference>objEmailSub</inputReference>
    </recordUpdates>
    <startElementReference>Get_Case</startElementReference>
    <variables>
        <name>EmailToUse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMultiLocAcc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objEmailSub</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailSubscription__c</objectType>
    </variables>
    <variables>
        <name>varAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpsert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </variables>
</Flow>
