flows/Case_Add_Entitlement_Process-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case_Add_Entitlement_Flow</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Case Add Entitlement Flow</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case_Add_Entitlement_Flow</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varCaseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varCaseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New YBN/Partner Case</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
   $User.Full_Name__c &lt;&gt; &quot;SFDC Sync&quot;,
   OR(
      [Case].RecordType.Name = &quot;YBN Inbound Inquiry&quot;,
      [Case].RecordType.Name = &quot;Partner Inbound Inquiry&quot;,
      AND(
         [Case].RecordType.Name = &quot;YBN Request&quot;,
         NOT(ISPICKVAL([Case].YBNRequestReason__c, &quot;&quot;)),
         NOT(ISPICKVAL([Case].YBNRequestDetail__c, &quot;&quot;))
      )
   ),
   NOT(ISBLANK([Case].AccountId)),
   OR(
      ISNEW(),
      ISBLANK([Case].EntitlementId), 
      AND([Case].WorkitemSLA__c = 0, PRIORVALUE([Case].WorkitemSLA__c) &gt; 0),
      AND([Case].WorkitemSLA__c &gt; 0, PRIORVALUE([Case].WorkitemSLA__c) = 0)
   )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
   $User.Full_Name__c &lt;&gt; &quot;SFDC Sync&quot;,
   OR(
      {!myVariable_current.RecordType.Name} = &quot;YBN Inbound Inquiry&quot;,
      {!myVariable_current.RecordType.Name} = &quot;Partner Inbound Inquiry&quot;,
      AND(
         {!myVariable_current.RecordType.Name} = &quot;YBN Request&quot;,
         NOT(ISPICKVAL({!myVariable_current.YBNRequestReason__c}, &quot;&quot;)),
         NOT(ISPICKVAL({!myVariable_current.YBNRequestDetail__c}, &quot;&quot;))
      )
   ),
   NOT(ISBLANK({!myVariable_current.AccountId})),
   OR(
      ISNEW(),
      ISBLANK({!myVariable_current.EntitlementId}), 
      AND({!myVariable_current.WorkitemSLA__c} = 0, PRIORVALUE({!myVariable_current.WorkitemSLA__c}) &gt; 0),
      AND({!myVariable_current.WorkitemSLA__c} &gt; 0, PRIORVALUE({!myVariable_current.WorkitemSLA__c}) = 0)
   )
)</expression>
    </formulas>
    <interviewLabel>Case_Add_Entitlement_Process-5_Case</interviewLabel>
    <label>Case - YBN - Add Entitlement Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
