flows/Collection_Case_Update_Temp_IMS_Name.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>False</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>True</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Status_Updates_Account</name>
        <label>Case Status Updates Account</label>
        <locationX>205</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_From_Case</targetReference>
            </connector>
            <label>Case Status Open</label>
        </rules>
        <rules>
            <name>Case_Status_Closed_and_No_Cancel_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancelFormID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_From_Case_0</targetReference>
            </connector>
            <label>Case Status Closed and No Cancel Form</label>
        </rules>
        <rules>
            <name>Case_Closed_and_Active_Cancel_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancelFormID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Current_Active_Cancel_Form</targetReference>
            </connector>
            <label>Case Closed and Active Cancel Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_Based_on_Ownership</name>
        <label>Update Account Based on Ownership</label>
        <locationX>688</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Owner_Equals_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelFormOwnerID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G32000002zosOEAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Temp_TMS_Rep_from_Cancel_Form_0</targetReference>
            </connector>
            <label>Owner Equals Queue</label>
        </rules>
        <rules>
            <name>Owner_Not_Equal_to_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelFormOwnerID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G32000002zosOEAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Temp_TMS_Rep_from_Cancel_Form</targetReference>
            </connector>
            <label>Owner Not Equal to Queue</label>
        </rules>
    </decisions>
    <interviewLabel>Collection Case Update Temp IMS Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Case Update Temp IMS Name</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>200</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status_Updates_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CancelFormID</assignToReference>
            <field>Current_Active_Cancel_Form__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Current_Active_Cancel_Form</name>
        <label>Lookup Current Active Cancel Form</label>
        <locationX>550</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Based_on_Ownership</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancelFormID</elementReference>
            </value>
        </filters>
        <object>Cancellation_Request__c</object>
        <outputAssignments>
            <assignToReference>CancelFormOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Origninal_Case</name>
        <label>Origninal Case</label>
        <locationX>198</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_From_Case</name>
        <label>Update Account From Case</label>
        <locationX>454</locationX>
        <locationY>218</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <elementReference>CaseOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_From_Case_0</name>
        <label>Update Account From Case</label>
        <locationX>615</locationX>
        <locationY>280</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Temp_TMS_Rep_from_Cancel_Form</name>
        <label>Update Account Temp TMS Rep from Cancel Form</label>
        <locationX>890</locationX>
        <locationY>300</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <elementReference>CancelFormOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Temp_TMS_Rep_from_Cancel_Form_0</name>
        <label>Update Account Temp TMS Rep from Cancel Form</label>
        <locationX>905</locationX>
        <locationY>435</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Active_Cancel_Form__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_IMS_Rep__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Origninal_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CancelFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CancelFormOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
