flows/Comment_Send_Comments_to_Parent_Owner-21.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cancel_Email</name>
        <label>Send Cancel Email</label>
        <locationX>267</locationX>
        <locationY>764</locationY>
        <actionName>Comments__c.Comment_Send_to_Cancel_Owner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCommentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Opp_Email</name>
        <label>Send Opp Email</label>
        <locationX>474</locationX>
        <locationY>765</locationY>
        <actionName>Comments__c.Comment_Send_to_Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCommentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Decide_Opp_Vs_Cancel</name>
        <label>Decide Opp vs Cancel</label>
        <locationX>346</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjComment.What_type_of_Comment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Lookup</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjComment.What_type_of_Comment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Lookup</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>LH_Upsell_1</name>
        <label>LH Upsell?</label>
        <locationX>477</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LH_Upsell_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01232000000JOTRAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Opportunity</targetReference>
            </connector>
            <label>LH Upsell?</label>
        </rules>
    </decisions>
    <decisions>
        <name>TORCHx_of_LH</name>
        <label>TORCHx of LH?</label>
        <locationX>264</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>sobjCancellation.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01232000000JOPjAAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjCancellation.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012320000005P4XAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjCancellation.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Cancellation_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>This is Prod Id&apos;s</description>
    <interviewLabel>Comment - Send Comments to Parent Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comment - Send Comments to Parent Owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cancellation_Lookup</name>
        <label>Cancellation Lookup</label>
        <locationX>261</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TORCHx_of_LH</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjComment.Cancellation_Form__c</elementReference>
            </value>
        </filters>
        <object>Cancellation_Request__c</object>
        <outputReference>sobjCancellation</outputReference>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Comment_Lookup</name>
        <label>Comment Lookup</label>
        <locationX>347</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Opp_Vs_Cancel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCommentId</elementReference>
            </value>
        </filters>
        <object>Comments__c</object>
        <outputReference>sobjComment</outputReference>
        <queriedFields>Cancellation_Form__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Parent_Owner__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>What_type_of_Comment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Lookup</name>
        <label>Opportunity Lookup</label>
        <locationX>470</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LH_Upsell_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjComment.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sobjOpportunity</outputReference>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User_Cancellation_Email</name>
        <label>User Cancellation</label>
        <locationX>267</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjCancellation.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCancellationOwnerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_Opportunity</name>
        <label>User Opportunity</label>
        <locationX>472</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjOpportunity.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCancellationOwnerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Opp_Update</name>
        <label>Opp Update</label>
        <locationX>475</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>Send_Opp_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCommentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Owner__c</field>
            <value>
                <elementReference>varCancellationOwnerEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Comments__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Comment</name>
        <label>Update Comment</label>
        <locationX>264</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Send_Cancel_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCommentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Owner__c</field>
            <value>
                <elementReference>varCancellationOwnerEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Comments__c</object>
    </recordUpdates>
    <startElementReference>Comment_Lookup</startElementReference>
    <textTemplates>
        <name>CancellationEmail</name>
        <text>The following comment has been added to Cancellation Request: {!sobjComment.Cancellation_Form__c}

Comment: {!sobjComment.Comment__c}

Created Date: {!sobjComment.CreatedDate}

Comment Link: https://webdc.my.salesforce.com/{!sobjComment.Id}
Cancellation Link: https://webdc.my.salesforce.com/{!sobjCancellation.Id}</text>
    </textTemplates>
    <variables>
        <name>sobjCancellation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cancellation_Request__c</objectType>
    </variables>
    <variables>
        <name>sobjComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comments__c</objectType>
    </variables>
    <variables>
        <name>sobjOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UserCancellation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varCancellationOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>sobjComment.Id</elementReference>
        </value>
    </variables>
</Flow>
