flows/EventFlo_Update_Opportunity-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Move_Event_To_Opp</name>
        <label>Move Event To Opp</label>
        <locationX>28</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>objEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IL_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>rtEventIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YBN Sales Event - IL</stringValue>
        </value>
    </constants>
    <constants>
        <name>rtTaskId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012600000009dE2</stringValue>
        </value>
    </constants>
    <constants>
        <name>rtTaskIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YBN Sales - IL</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Contract_Sent</name>
        <label>Check Contract Sent</label>
        <locationX>484</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_To_Complete_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract Sent False</defaultConnectorLabel>
        <rules>
            <name>Contract_Sent_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Contract_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Contract0</targetReference>
            </connector>
            <label>Contract Sent True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corporate_or_Individual_Location</name>
        <label>Corporate or Individual Location</label>
        <locationX>198</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Corporate_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YBN Sales - Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Completed_Presentation_Task_Field</targetReference>
            </connector>
            <label>Corporate Task</label>
        </rules>
        <rules>
            <name>Ind_Loc_Event</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rtEventIL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demo_Event</targetReference>
            </connector>
            <label>Ind Loc Event</label>
        </rules>
        <rules>
            <name>Ind_Loc_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rtTaskIL</elementReference>
                </rightValue>
            </conditions>
            <label>Ind Loc Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Status</name>
        <label>Event Status</label>
        <locationX>197</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Demo_Event_Scheduled_Acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEvent.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Opportunities</targetReference>
            </connector>
            <label>Demo Event Scheduled (Acc)</label>
        </rules>
        <rules>
            <name>Demo_Event_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Sent</targetReference>
            </connector>
            <label>Demo Event Completed</label>
        </rules>
        <rules>
            <name>Demo_Event_Scheduled_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objEvent.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Scheduled_Task</targetReference>
            </connector>
            <label>Demo Event Scheduled (Opp)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Completed_Task</name>
        <label>Find Completed Task</label>
        <locationX>510</locationX>
        <locationY>817</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Completed_Task_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objTaskRanDemo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Completed_Task</targetReference>
            </connector>
            <label>Completed Task Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Existing_Scheduled_Task</name>
        <label>Find Existing Scheduled Task</label>
        <locationX>257</locationX>
        <locationY>821</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objTaskSchedDemo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scheduled_Task_Opp</targetReference>
            </connector>
            <label>Task Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Open_Opportunities</name>
        <label>Found Open Opportunities</label>
        <locationX>27</locationX>
        <locationY>535</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Open_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity</targetReference>
            </connector>
            <label>No Open Opportunities</label>
        </rules>
    </decisions>
    <formulas>
        <name>dtTodayPlus4</name>
        <dataType>Date</dataType>
        <expression>TODAY()+4</expression>
    </formulas>
    <formulas>
        <name>varClosedDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 21</expression>
    </formulas>
    <interviewLabel>EventFlo - Update Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventFlo - Update Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Completed_Task</name>
        <label>Create Completed Task</label>
        <locationX>511</locationX>
        <locationY>949</locationY>
        <connector>
            <targetReference>Find_Scheduled_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>Ran IL Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ran IL Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Demo_Scheduled_Task</name>
        <label>Create Demo Scheduled Task</label>
        <locationX>27</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Move_Event_To_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>IL Demo Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IL Demo Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Scheduled_Task_Opp</name>
        <label>Create Scheduled Task (Opp)</label>
        <locationX>257</locationX>
        <locationY>952</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>IL Demo Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IL Demo Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>26</locationX>
        <locationY>653</locationY>
        <assignRecordIdToReference>varOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Demo_Scheduled_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varAccName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>M001 - Set Local Demo</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Scheduled_Task</name>
        <label>Find Scheduled Task</label>
        <locationX>257</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Scheduled_Task</targetReference>
        </connector>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IL Demo Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>objTaskSchedDemo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Event</name>
        <label>Get Demo Event</label>
        <locationX>198</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActivityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo &amp; Value Presentation</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>objEvent</outputReference>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Milestone__c</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Contract_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Completed_Task</name>
        <label>Lookup Completed Task</label>
        <locationX>505</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Completed_Task</targetReference>
        </connector>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ran IL Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>objTaskRanDemo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Open_Opportunities</name>
        <label>Open Opportunities</label>
        <locationX>27</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Opportunities</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Stage_To_Complete_Demo</name>
        <label>Set Stage To Complete Demo</label>
        <locationX>673</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>Lookup_Completed_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>M001 - Set Local Demo</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>M002 - Complete local demo (IL)</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_To_Contract0</name>
        <label>Set Stage To Contract</label>
        <locationX>484</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Lookup_Completed_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>M003 - Contract (IL)</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>M003 - Contract (IL)</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed_Presentation_Task_Field</name>
        <label>Update Completed Presentation Task Field</label>
        <locationX>499</locationX>
        <locationY>36</locationY>
        <filters>
            <field>Completed_Presentation_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Presentation_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IL_Event</name>
        <label>Update IL Event</label>
        <locationX>28</locationX>
        <locationY>926</locationY>
        <inputReference>objEvent</inputReference>
    </recordUpdates>
    <startElementReference>Corporate_or_Individual_Location</startElementReference>
    <variables>
        <name>lstOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>lstUpdateTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>objEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>objTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>objTaskRanDemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>objTaskSchedDemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActivityReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
