flows/EventFlo_Corporate_Opportunities-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>rtTaskId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012600000009dE2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Demo_Status</name>
        <label>Demo Status</label>
        <locationX>385</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Demo_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Demo_Scheduled_Task</targetReference>
            </connector>
            <label>Demo Scheduled</label>
        </rules>
        <rules>
            <name>Demo_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Demo_Completed_Task</targetReference>
            </connector>
            <label>Demo Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Event_Type</name>
        <label>Determine Event Type</label>
        <locationX>383</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Discovery_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Status</targetReference>
            </connector>
            <label>Discovery Call</label>
        </rules>
        <rules>
            <name>Demo_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo &amp; Value Presentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Status</targetReference>
            </connector>
            <label>Demo Call</label>
        </rules>
        <rules>
            <name>Solution_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Review Call</stringValue>
                </rightValue>
            </conditions>
            <label>Solution Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discovery_Status</name>
        <label>Discovery Status</label>
        <locationX>147</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Discovery_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Discovery_Scheduled_Task</targetReference>
            </connector>
            <label>Discovery Scheduled</label>
        </rules>
        <rules>
            <name>Discovery_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objEvent.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Discovery_Completed_Task</targetReference>
            </connector>
            <label>Discovery Completed</label>
        </rules>
    </decisions>
    <interviewLabel>EventFlo - Corporate Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventFlo - Corporate Opportunities</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Demo_Completed_Task</name>
        <label>Create Demo Completed Task</label>
        <locationX>475</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>Update_Opp_Presentation</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>Completed Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Completed Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Demo_Scheduled_Task</name>
        <label>Create Demo Scheduled Task</label>
        <locationX>323</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Update_Opp_Demo</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>Scheduled Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Scheduled Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Discovery_Completed_Task</name>
        <label>Create Discovery Completed Task</label>
        <locationX>150</locationX>
        <locationY>373</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>Completed Discovery Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Completed Discovery Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Discovery_Scheduled_Task</name>
        <label>Create Discovery Scheduled Task</label>
        <locationX>23</locationX>
        <locationY>309</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>External Customer Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <stringValue>Scheduled Discovery Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rtTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Scheduled Discovery Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_Record</name>
        <label>Get Event Record</label>
        <locationX>155</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Event_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>objEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Milestone__c</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Demo</name>
        <label>Update Opp Demo</label>
        <locationX>326</locationX>
        <locationY>472</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Discovery</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Demo/Value Prop</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Presentation</name>
        <label>Update Opp Presentation</label>
        <locationX>477</locationX>
        <locationY>418</locationY>
        <filters>
            <field>Completed_Presentation_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEvent.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Presentation_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_Event_Record</startElementReference>
    <variables>
        <name>objEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varActivityDtl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
