flows/Opp_Update_Fulfillment_Records_On_Stage_Change-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_new_list</name>
        <label>Add to new list</label>
        <locationX>401</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>lstNewFFs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objFF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fulfillment_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Lost_Project_Cancelled_Status</name>
        <label>Closed Lost - Project Cancelled Status</label>
        <locationX>589</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>objFF.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Won_Products_Sold_Update</name>
        <label>Closed Won - Products Sold Update</label>
        <locationX>398</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>objFF.Products_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOpp.Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objFF.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Fulfillment_Records</name>
        <label>Check Fulfillment Records</label>
        <locationX>151</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Fulfillment_Contract</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>lstFulfills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Fulfillment</targetReference>
            </connector>
            <label>No Fulfillment &amp; Contract</label>
        </rules>
        <rules>
            <name>Has_Fulfillment_Closed_Won_Lost</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>lstFulfills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Fulfillment_List</targetReference>
            </connector>
            <label>Has Fulfillment &amp; Closed Won/Lost</label>
        </rules>
        <rules>
            <name>No_Fulfillment_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstFulfills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>No Fulfillment &amp; Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Loop</name>
        <label>Check Stage Loop</label>
        <locationX>395</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_Loop</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objFF.Products_Sold__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOpp.Products__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objFF.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Products_Sold_Update</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objFF.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Project Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Lost_Project_Cancelled_Status</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <formulas>
        <name>formStageName</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!objOpp.StageName}, &quot;Closed Won&quot;), &quot;Onboarding&quot;, &quot;Presale&quot;)</expression>
    </formulas>
    <interviewLabel>Opp - Update Fulfillment Records On Stage Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp - Update Fulfillment Records On Stage Change</label>
    <loops>
        <name>Loop_Fulfillment_List</name>
        <label>Loop Fulfillment List</label>
        <locationX>153</locationX>
        <locationY>517</locationY>
        <assignNextValueToReference>objFF</assignNextValueToReference>
        <collectionReference>lstFulfills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stage_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_New_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Fulfillment</name>
        <label>Create New Fulfillment</label>
        <locationX>459</locationX>
        <locationY>256</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>objOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>objOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objOpp.Strategic_Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_Sold__c</field>
            <value>
                <elementReference>objOpp.Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>formStageName</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Fulfillment_Records</name>
        <label>Find Fulfillment Records</label>
        <locationX>150</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fulfillment_Records</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Fulfillment__c</object>
        <outputReference>lstFulfills</outputReference>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Products_Sold__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Opp_Record</name>
        <label>Opp Record</label>
        <locationX>149</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Fulfillment_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Products__c</queriedFields>
        <queriedFields>Strategic_Project_Manager__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_List</name>
        <label>Update New List</label>
        <locationX>153</locationX>
        <locationY>686</locationY>
        <inputReference>lstNewFFs</inputReference>
    </recordUpdates>
    <startElementReference>Opp_Record</startElementReference>
    <variables>
        <name>lstFulfills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>lstNewFFs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>objFF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
