flows/OppFlo_Create_Object_History.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_End_DateTime</name>
        <label>Update End DateTime</label>
        <locationX>387</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>objHistory.EndDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Object_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Object_History</name>
        <label>Existing Object History</label>
        <locationX>116</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Existing_OH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_DateTime</targetReference>
            </connector>
            <label>Has Existing OH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opportunity</name>
        <label>Found Opportunity</label>
        <locationX>119</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Open_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Object_History_Open</targetReference>
            </connector>
            <label>Has Open Opportunity</label>
        </rules>
        <rules>
            <name>Has_Closed_Opportunity</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>objOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Object_History_Closed</targetReference>
            </connector>
            <label>Has Closed Opportunity</label>
        </rules>
    </decisions>
    <interviewLabel>OppFlo - Create Object History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppFlo - Create Object History</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Object_History_Closed</name>
        <label>Create Object History - Closed</label>
        <locationX>435</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldName__c</field>
            <value>
                <stringValue>Stage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldValue__c</field>
            <value>
                <elementReference>objOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppAnnualContractValue__c</field>
            <value>
                <elementReference>objOpp.Annual_Contract_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppTotalContractValue__c</field>
            <value>
                <elementReference>objOpp.Total_Contract_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>objOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>ObjectHistory__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Object_History_Open</name>
        <label>Create Object History - Open</label>
        <locationX>119</locationX>
        <locationY>555</locationY>
        <inputAssignments>
            <field>FieldName__c</field>
            <value>
                <stringValue>Stage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldValue__c</field>
            <value>
                <elementReference>objOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppAnnualContractValue__c</field>
            <value>
                <elementReference>objOpp.Annual_Contract_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppTotalContractValue__c</field>
            <value>
                <elementReference>objOpp.Total_Contract_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>objOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>ObjectHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Object_History</name>
        <label>Get Last Object History</label>
        <locationX>116</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Object_History</targetReference>
        </connector>
        <filters>
            <field>FieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFieldName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>ObjectHistory__c</object>
        <outputReference>objHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDateTime__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>118</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Total_Contract_Value__c</queriedFields>
        <queriedFields>Annual_Contract_Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Object_History</name>
        <label>Update Last Object History</label>
        <locationX>388</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <inputReference>objHistory</inputReference>
    </recordUpdates>
    <startElementReference>Get_Last_Object_History</startElementReference>
    <status>Active</status>
    <variables>
        <name>objHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectHistory__c</objectType>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
