flows/Setup_Call_Close-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Setup Call Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup Call Close</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Setup_Call_Lookup</name>
        <label>Setup Call Lookup</label>
        <locationX>99</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Coaching_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>setupcallID</elementReference>
            </value>
        </filters>
        <object>Yodle_Path__c</object>
        <outputAssignments>
            <assignToReference>actiavateautomatedemails</assignToReference>
            <field>Activate_automated_emails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>coachingcallID</assignToReference>
            <field>Coaching_Call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>importcontacts</assignToReference>
            <field>Import_contacts__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>login</assignToReference>
            <field>Log_in__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentcaseID</assignToReference>
            <field>Parent_Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>reviewwebsite</assignToReference>
            <field>Review_website__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>schedulecoachingcall</assignToReference>
            <field>Schedule_coaching_call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scheduledcoachingcall</assignToReference>
            <field>Scheduled_Coaching_Call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectservices</assignToReference>
            <field>Select_Services__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Parent_Case_Update</name>
        <label>Parent Case Update</label>
        <locationX>99</locationX>
        <locationY>251</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentcaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduled_Call__c</field>
            <value>
                <elementReference>scheduledcoachingcall</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Coaching_Call</name>
        <label>Update Coaching Call</label>
        <locationX>98</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Parent_Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coachingcallID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activate_automated_emails__c</field>
            <value>
                <elementReference>actiavateautomatedemails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_contacts__c</field>
            <value>
                <elementReference>importcontacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_in__c</field>
            <value>
                <elementReference>login</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_website__c</field>
            <value>
                <elementReference>reviewwebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_coaching_call__c</field>
            <value>
                <elementReference>schedulecoachingcall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Coaching_Call__c</field>
            <value>
                <elementReference>scheduledcoachingcall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Select_Services__c</field>
            <value>
                <elementReference>selectservices</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordUpdates>
    <startElementReference>Setup_Call_Lookup</startElementReference>
    <variables>
        <name>actiavateautomatedemails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coachingcallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>importcontacts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>login</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentcaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reviewwebsite</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>schedulecoachingcall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>scheduledcoachingcall</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectservices</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>setupcallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
