flows/Update_Parent_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Response_Time_Blank</name>
        <label>Is Response Time Blank</label>
        <locationX>66</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Blank_Response_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstResponseDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Blank Response Time</label>
        </rules>
    </decisions>
    <description>Used to track first response time</description>
    <interviewLabel>Update Parent Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>65</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Response_Time_Blank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>FirstResponseDateTime</assignToReference>
            <field>First_Response_Date_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupTask</name>
        <label>lookupTask</label>
        <locationX>64</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>ActivityDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>67</locationX>
        <locationY>363</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Response_Date_Time__c</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>lookupTask</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActivityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstResponseDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
