flows/Update_Yodle_Path_from_Tasks-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>CountAll</name>
        <dataType>Number</dataType>
        <expression>{!TotalNumberOfAttempts} +1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Yodle Path from Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Yodle Path from Tasks</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Yodle_Path</name>
        <label>Lookup Yodle Path</label>
        <locationX>64</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YodlePath</elementReference>
            </value>
        </filters>
        <object>Yodle_Path__c</object>
        <outputAssignments>
            <assignToReference>TotalNumberOfAttempts</assignToReference>
            <field>Total_Number_of_Attempts__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupTask</name>
        <label>lookupTask</label>
        <locationX>64</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Yodle_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>FirstResponseDateTime</assignToReference>
            <field>ActivityDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CallDurationSec</assignToReference>
            <field>CallDurationInSeconds</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskIDPost</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>YodlePath</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Path</name>
        <label>Update the Path</label>
        <locationX>66</locationX>
        <locationY>260</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YodlePath</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Task_Call_Duration__c</field>
            <value>
                <elementReference>CallDurationSec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Task_Date_Time__c</field>
            <value>
                <elementReference>FirstResponseDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Task_Id__c</field>
            <value>
                <elementReference>TaskIDPost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Attempts__c</field>
            <value>
                <elementReference>CountAll</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordUpdates>
    <startElementReference>lookupTask</startElementReference>
    <variables>
        <name>ActivityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CallDurationSec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstResponseDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskIDPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalNumberOfAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>YodlePath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
