flows/Vivial_First_Response_Milestone_Auto_Complete_Update-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Does_First_Response_Milestone</name>
        <label>Does First Response Milestone</label>
        <locationX>171</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Milestone_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFirstResponseMilestoneID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case_Information</targetReference>
            </connector>
            <label>Milestone Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Response_Time_Populated</name>
        <label>Is First Response Time Populated?</label>
        <locationX>172</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFirstResponseTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_a_Partner_Entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Entitlement_Proceed</name>
        <label>Partner Entitlement - Proceed</label>
        <locationX>170</locationX>
        <locationY>552</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEntitlementName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_First_Response_Milestone_as_Complete</targetReference>
            </connector>
            <label>Yes Partner Entitlement</label>
        </rules>
    </decisions>
    <description>Mark the Milestone as complete if the First Response is already populated when the entitlement is created. updated for sprint 362</description>
    <interviewLabel>Vivial First Response Milestone Auto Complete Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vivial First Response Milestone Auto Complete Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Is_this_a_Partner_Entitlement</name>
        <label>Is this a Partner Entitlement?</label>
        <locationX>171</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Entitlement_Proceed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEntitlementID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>varEntitlementName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Information</name>
        <label>Lookup Case Information</label>
        <locationX>173</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_First_Response_Time_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varEntitlementID</assignToReference>
            <field>EntitlementId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstResponseTime</assignToReference>
            <field>First_Response_Date_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_First_Response_Milestone</name>
        <label>Lookup First Response Milestone</label>
        <locationX>176</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_First_Response_Milestone</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>557320000008OQO</stringValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>varFirstResponseMilestoneID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMilestoneStartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_First_Response_Milestone_as_Complete</name>
        <label>Mark First Response Milestone as Complete</label>
        <locationX>165</locationX>
        <locationY>652</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFirstResponseMilestoneID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>varFirstResponseTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <startElementReference>Lookup_First_Response_Milestone</startElementReference>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Entitlement ID of the Case</description>
        <name>varEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>See if this is a partner entitlement</description>
        <name>varEntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>what is the ID of the First Response MileStone</description>
        <name>varFirstResponseMilestoneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Is first response already populated</description>
        <name>varFirstResponseTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMilestoneStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
