flows/WBN_Update_Next_Touch_Point_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isChangedDecision2_myRule_1_Last_Completed_YBN_TP_c</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isChangedDecision2_myRule_1_Last_Completed_YBN_TP_c</name>
        <label>isChangedDecision2_myRule_1_Last_Completed_YBN_TP_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision3_myRule_1_YBN_CSC_Completed_Date_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_Last_Completed_YBN_TP_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Last_Completed_YBN_TP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Last_Completed_YBN_TP__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision3_myRule_1_YBN_CSC_Completed_Date_c</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_Last_Completed_YBN_TP_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision3_myRule_1_YBN_CSC_Completed_Date_c</name>
        <label>isChangedDecision3_myRule_1_YBN_CSC_Completed_Date_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision4_myRule_1_Month_1_Check_In_Completed_Date_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_3_myRule_1_YBN_CSC_Completed_Date_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.YBN_CSC_Completed_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.YBN_CSC_Completed_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision4_myRule_1_Month_1_Check_In_Completed_Date_c</targetReference>
            </connector>
            <label>isChangedRule_3_myRule_1_YBN_CSC_Completed_Date_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision4_myRule_1_Month_1_Check_In_Completed_Date_c</name>
        <label>isChangedDecision4_myRule_1_Month_1_Check_In_Completed_Date_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision5_myRule_1_Month_1_Check_In_Date_Adjustment_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_4_myRule_1_Month_1_Check_In_Completed_Date_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Month_1_Check_In_Completed_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Month_1_Check_In_Completed_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision5_myRule_1_Month_1_Check_In_Date_Adjustment_c</targetReference>
            </connector>
            <label>isChangedRule_4_myRule_1_Month_1_Check_In_Completed_Date_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision5_myRule_1_Month_1_Check_In_Date_Adjustment_c</name>
        <label>isChangedDecision5_myRule_1_Month_1_Check_In_Date_Adjustment_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision6_myRule_1_Weekly_TouchPlan_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_5_myRule_1_Month_1_Check_In_Date_Adjustment_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Month_1_Check_In_Date_Adjustment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Month_1_Check_In_Date_Adjustment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision6_myRule_1_Weekly_TouchPlan_c</targetReference>
            </connector>
            <label>isChangedRule_5_myRule_1_Month_1_Check_In_Date_Adjustment_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision6_myRule_1_Weekly_TouchPlan_c</name>
        <label>isChangedDecision6_myRule_1_Weekly_TouchPlan_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_6_myRule_1_Weekly_TouchPlan_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Weekly_TouchPlan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Weekly_TouchPlan__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_6_myRule_1_Weekly_TouchPlan_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>6 and (1 OR 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_Last_Completed_YBN_TP_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_3_myRule_1_YBN_CSC_Completed_Date_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_4_myRule_1_Month_1_Check_In_Completed_Date_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_5_myRule_1_Month_1_Check_In_Date_Adjustment_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_6_myRule_1_Weekly_TouchPlan_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012600000009Yy5AAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>When TP Dates Change</label>
        </rules>
    </decisions>
    <description>Process to change the Next TP Date</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND([Account].Weekly_TouchPlan__c =TRUE, 
NOT(ISBLANK( [Account].Weekly_TouchPlan_Next_Date__c ))), 
[Account].Weekly_TouchPlan_Next_Date__c, 

IF(AND(ISPICKVAL([Account].Individual_Location_Service_Level__c,&quot;Service Level A&quot;), 
NOT(ISBLANK([Account].Last_Completed_YBN_TP__c))), 
[Account].Last_Completed_YBN_TP__c + 31, 

IF(AND(ISPICKVAL([Account].Individual_Location_Service_Level__c,&quot;Service Level B&quot;), 
NOT(ISBLANK([Account].Last_Completed_YBN_TP__c))), 
[Account].Last_Completed_YBN_TP__c + 62, 

IF(AND(ISPICKVAL([Account].Individual_Location_Service_Level__c,&quot;Service Level C&quot;), 
NOT(ISBLANK([Account].Last_Completed_YBN_TP__c))), 
[Account].Last_Completed_YBN_TP__c + 93, 

IF(AND(ISPICKVAL([Account].Individual_Location_Service_Level__c,&quot;Service Level A&quot;),ISBLANK([Account].Last_Completed_YBN_TP__c)), [Account].Live_Date__c + 62 + [Account].Month_1_Check_In_Date_Adjustment__c, 

IF(AND(ISPICKVAL([Account].Individual_Location_Service_Level__c,&quot;Service Level B&quot;),ISBLANK([Account].Last_Completed_YBN_TP__c)), [Account].Live_Date__c + 93 + [Account].Month_1_Check_In_Date_Adjustment__c, 

IF(AND(ISPICKVAL([Account].Individual_Location_Service_Level__c,&quot;Service Level C&quot;),ISBLANK([Account].Last_Completed_YBN_TP__c)), [Account].Live_Date__c + 124 + [Account].Month_1_Check_In_Date_Adjustment__c, 

Null)))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_0522952374</name>
        <dataType>Date</dataType>
        <expression>IF(AND({!myVariable_current.Weekly_TouchPlan__c} =TRUE, 
NOT(ISBLANK( {!myVariable_current.Weekly_TouchPlan_Next_Date__c} ))), 
{!myVariable_current.Weekly_TouchPlan_Next_Date__c}, 

IF(AND(ISPICKVAL({!myVariable_current.Individual_Location_Service_Level__c},&quot;Service Level A&quot;), 
NOT(ISBLANK({!myVariable_current.Last_Completed_YBN_TP__c}))), 
{!myVariable_current.Last_Completed_YBN_TP__c} + 31, 

IF(AND(ISPICKVAL({!myVariable_current.Individual_Location_Service_Level__c},&quot;Service Level B&quot;), 
NOT(ISBLANK({!myVariable_current.Last_Completed_YBN_TP__c}))), 
{!myVariable_current.Last_Completed_YBN_TP__c} + 62, 

IF(AND(ISPICKVAL({!myVariable_current.Individual_Location_Service_Level__c},&quot;Service Level C&quot;), 
NOT(ISBLANK({!myVariable_current.Last_Completed_YBN_TP__c}))), 
{!myVariable_current.Last_Completed_YBN_TP__c} + 93, 

IF(AND(ISPICKVAL({!myVariable_current.Individual_Location_Service_Level__c},&quot;Service Level A&quot;),ISBLANK({!myVariable_current.Last_Completed_YBN_TP__c})), {!myVariable_current.Live_Date__c} + 62 + {!myVariable_current.Month_1_Check_In_Date_Adjustment__c}, 

IF(AND(ISPICKVAL({!myVariable_current.Individual_Location_Service_Level__c},&quot;Service Level B&quot;),ISBLANK({!myVariable_current.Last_Completed_YBN_TP__c})), {!myVariable_current.Live_Date__c} + 93 + {!myVariable_current.Month_1_Check_In_Date_Adjustment__c}, 

IF(AND(ISPICKVAL({!myVariable_current.Individual_Location_Service_Level__c},&quot;Service Level C&quot;),ISBLANK({!myVariable_current.Last_Completed_YBN_TP__c})), {!myVariable_current.Live_Date__c} + 124 + {!myVariable_current.Month_1_Check_In_Date_Adjustment__c}, 

Null)))))))</expression>
    </formulas>
    <interviewLabel>WBN_Update_Next_Touch_Point_Date-1_InterviewLabel</interviewLabel>
    <label>WBN Update Next Touch Point Date</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Next_TP_Needed_By_TEMP__c</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Next TP Needed By TEMP</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Next_TP_Needed_By_TEMP__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_0522952374</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
