flows/Yodle_Path_Creation-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>CoachingCallName</name>
        <dataType>String</dataType>
        <expression>&apos;Coaching Call - &apos; + {!ClientId}</expression>
    </formulas>
    <formulas>
        <name>SetupName</name>
        <dataType>String</dataType>
        <expression>&apos;Setup Call - &apos; + {!ClientId}</expression>
    </formulas>
    <formulas>
        <name>TouchPlan1Name</name>
        <dataType>String</dataType>
        <expression>&apos;Touch Plan 1 - &apos; + {!ClientId}</expression>
    </formulas>
    <formulas>
        <name>TouchPlan2Name</name>
        <dataType>String</dataType>
        <expression>&apos;Touch Plan 2 - &apos; + {!ClientId}</expression>
    </formulas>
    <formulas>
        <name>TouchPlan3Name</name>
        <dataType>String</dataType>
        <expression>&apos;Touch Plan 3 - &apos; + {!ClientId}</expression>
    </formulas>
    <interviewLabel>Yodle Path Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Yodle Path Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Yodle_Path_Coaching_Call</name>
        <label>Yodle Path Coaching Call</label>
        <locationX>187</locationX>
        <locationY>111</locationY>
        <assignRecordIdToReference>CoachingCall</assignRecordIdToReference>
        <connector>
            <targetReference>Yodle_Path_Touch_Plan_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CoachingCallName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01232000000JN25</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Call__c</field>
            <value>
                <elementReference>SetupCallID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordCreates>
    <recordCreates>
        <name>Yodle_Path_Setup_Call</name>
        <label>Yodle Path Setup Call</label>
        <locationX>62</locationX>
        <locationY>112</locationY>
        <assignRecordIdToReference>SetupCallID</assignRecordIdToReference>
        <connector>
            <targetReference>Yodle_Path_Coaching_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SetupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01232000000JN26</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordCreates>
    <recordCreates>
        <name>Yodle_Path_Touch_Plan_1</name>
        <label>Yodle Path Touch Plan 1</label>
        <locationX>313</locationX>
        <locationY>111</locationY>
        <assignRecordIdToReference>TouchPlan1</assignRecordIdToReference>
        <connector>
            <targetReference>Yodle_Path_Touch_Plan_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coaching_Call__c</field>
            <value>
                <elementReference>CoachingCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TouchPlan1Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01232000000JN27</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Call__c</field>
            <value>
                <elementReference>SetupCallID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordCreates>
    <recordCreates>
        <name>Yodle_Path_Touch_Plan_2</name>
        <label>Yodle Path Touch Plan 2</label>
        <locationX>439</locationX>
        <locationY>113</locationY>
        <assignRecordIdToReference>TouchPlan2</assignRecordIdToReference>
        <connector>
            <targetReference>Yodle_Path_Touch_Plan_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coaching_Call__c</field>
            <value>
                <elementReference>CoachingCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TouchPlan2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01232000000JN28</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Call__c</field>
            <value>
                <elementReference>SetupCallID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_1__c</field>
            <value>
                <elementReference>TouchPlan1</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordCreates>
    <recordCreates>
        <name>Yodle_Path_Touch_Plan_3</name>
        <label>Yodle Path Touch Plan 3</label>
        <locationX>568</locationX>
        <locationY>114</locationY>
        <assignRecordIdToReference>TouchPlan3</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Setup_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coaching_Call__c</field>
            <value>
                <elementReference>CoachingCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TouchPlan3Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01232000000JN29</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Call__c</field>
            <value>
                <elementReference>SetupCallID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_1__c</field>
            <value>
                <elementReference>TouchPlan1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_2__c</field>
            <value>
                <elementReference>TouchPlan2</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>193</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Yodle_Path_Setup_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ClientId</assignToReference>
            <field>Client_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Outbound_Call</name>
        <label>Outbound Call</label>
        <locationX>65</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ScheduledCall</assignToReference>
            <field>Scheduled_Call__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Coaching_Call</name>
        <label>Update Coaching Call</label>
        <locationX>186</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Update_Touch_Plan_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoachingCall</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Touch_Plan_1__c</field>
            <value>
                <elementReference>TouchPlan1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_2__c</field>
            <value>
                <elementReference>TouchPlan2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_3__c</field>
            <value>
                <elementReference>TouchPlan3</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Setup_Call</name>
        <label>Update Setup Call</label>
        <locationX>61</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Update_Coaching_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetupCallID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Coaching_Call__c</field>
            <value>
                <elementReference>CoachingCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_1__c</field>
            <value>
                <elementReference>TouchPlan1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_2__c</field>
            <value>
                <elementReference>TouchPlan2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_3__c</field>
            <value>
                <elementReference>TouchPlan3</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Touch_Plan_1</name>
        <label>Update Touch Plan 1</label>
        <locationX>312</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Update_Touch_Plan_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TouchPlan1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Touch_Plan_2__c</field>
            <value>
                <elementReference>TouchPlan2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Plan_3__c</field>
            <value>
                <elementReference>TouchPlan3</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Touch_Plan_2</name>
        <label>Update Touch Plan 2</label>
        <locationX>438</locationX>
        <locationY>198</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TouchPlan2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Touch_Plan_3__c</field>
            <value>
                <elementReference>TouchPlan3</elementReference>
            </value>
        </inputAssignments>
        <object>Yodle_Path__c</object>
    </recordUpdates>
    <startElementReference>Outbound_Call</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoachingCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScheduledCall</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SetupCallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TouchPlan1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TouchPlan2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TouchPlan3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YPSetup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
</Flow>
