flows/Yodle_Path_Did_Not_Complete2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>423</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>UpdateYodlePath</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>YodlePath</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Yodle_Path</name>
        <label>Yodle Path</label>
        <locationX>539</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>YodlePath.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did Not Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Yodle Path Did Not Complete2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Yodle Path Did Not Complete2</label>
    <loops>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>338</locationX>
        <locationY>299</locationY>
        <assignNextValueToReference>YodlePath</assignNextValueToReference>
        <collectionReference>YodlePaths</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Yodle_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateYodlePathStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>YodlePathCollection</name>
        <label>Yodle Path Collection</label>
        <locationX>248</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filters>
            <field>Parent_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PArentId</elementReference>
            </value>
        </filters>
        <object>Yodle_Path__c</object>
        <outputReference>YodlePaths</outputReference>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateYodlePathStatus</name>
        <label>UpdateYodlePathStatus</label>
        <locationX>238</locationX>
        <locationY>412</locationY>
        <inputReference>YodlePaths</inputReference>
    </recordUpdates>
    <startElementReference>YodlePathCollection</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>PArentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateYodlePath</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
    <variables>
        <name>YodlePath</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
    <variables>
        <name>YodlePaths</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
</Flow>
