flows/Yodle_Path_Did_Not_Complete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Yodle Path - Did Not Complete  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Yodle Path - Did Not Complete - Setup Call</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupSetupCall</name>
        <label>LookupSetupCall</label>
        <locationX>26</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetupCall.Id</elementReference>
            </value>
        </filters>
        <object>Yodle_Path__c</object>
        <outputReference>SetupCall</outputReference>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Setup_Call_Loopup</name>
        <label>Setup Call Loopup</label>
        <locationX>30</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Coaching_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>setupcallID</elementReference>
            </value>
        </filters>
        <object>Yodle_Path__c</object>
        <outputAssignments>
            <assignToReference>CoachingCallID.Id</assignToReference>
            <field>Coaching_Call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCaseID.Id</assignToReference>
            <field>Parent_Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TouchPlan1ID.Id</assignToReference>
            <field>Touch_Plan_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TouchPlan2ID.Id</assignToReference>
            <field>Touch_Plan_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TouchPlan3ID.Id</assignToReference>
            <field>Touch_Plan_3__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>PArentCase</name>
        <label>PArentCase</label>
        <locationX>693</locationX>
        <locationY>42</locationY>
        <inputReference>ParentCaseID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Touch_Plan_1</name>
        <label>Touch Plan 1</label>
        <locationX>297</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>TouchPlan2</targetReference>
        </connector>
        <inputReference>TouchPlan1ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TouchPlan2</name>
        <label>TouchPlan2</label>
        <locationX>428</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>TouchPlan3</targetReference>
        </connector>
        <inputReference>TouchPlan2ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TouchPlan3</name>
        <label>TouchPlan3</label>
        <locationX>559</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>PArentCase</targetReference>
        </connector>
        <inputReference>TouchPlan3ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Coaching_Call</name>
        <label>Update Coaching Call</label>
        <locationX>164</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Touch_Plan_1</targetReference>
        </connector>
        <inputReference>CoachingCallID</inputReference>
    </recordUpdates>
    <startElementReference>Setup_Call_Loopup</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CoachingCallID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
    <variables>
        <name>ParentCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SetupCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
    <variables>
        <name>setupcallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TouchPlan1ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
    <variables>
        <name>TouchPlan2ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
    <variables>
        <name>TouchPlan3ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Yodle_Path__c</objectType>
    </variables>
</Flow>
